VITE_SUPABASE_URL=https://srv1255289.hstgr.cloud
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzY3ODQ3MzU3LCJleHAiOjIwODMyMDczNTd9.f3y8WXuuTqZvE4gA_47TnUEEmji3vBTXDx_tgz0Rmj0
